@font-face {
    font-family: "Fira Code";
    src: url("FiraCode/FiraCode-Medium.woff2") format("woff2"),
        url("FiraCode/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("FiraCode/FiraCode-Light.woff2") format("woff2"),
        url("FiraCode/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("FiraCode/FiraCode-Bold.woff2") format("woff2"),
        url("FiraCode/FiraCode-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code Retina";
    src: url("FiraCode/FiraCode-Retina.woff2") format("woff2"),
        url("FiraCode/FiraCode-Retina.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("FiraCode/FiraCode-SemiBold.woff2") format("woff2"),
        url("FiraCode/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("FiraCode/FiraCode-Regular.woff2") format("woff2"),
        url("FiraCode/FiraCode-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* font others   */
